#snowbox	{min-width: 1375px;}
.footerwrap	{min-width: 1375px;}
.bodywrap	{min-width: 1375px;}
.no			{width: 3%;}
div.update div.update-body li {margin-left: 15px; font-family: 'robotoregular', 'Franklin Gothic', 'Bell Gothic Std', 'Arial Narrow', sans-serif;}
div.update	{margin-left: 5px;}
div.divider {background-size: 100% 100%; width: 800px; padding: 10px 10px 10px 55px; box-sizing: border-box;}
#rounded-corner.nohover tbody tr td.raid {background-color: #ffe5f0; color: red;}
#rounded-corner.nohover tbody:hover tr td.raid {background-color: #ffe5f0;}
#rounded-corner.nohover tbody tr td.free {background-color: #eaffea; color: green;}
#rounded-corner.nohover tbody:hover tr td.free {background-color: #eaffea;}
#rounded-corner.nohover tbody tr td.main {background-color: #eaffff; color: blue;}
#rounded-corner.nohover tbody:hover tr td.main {background-color: #eaffff;}
#rounded-corner.nohover tbody tr td.limited {background-color: #f5f6ce; color: orange;}
#rounded-corner.nohover tbody:hover tr td.limited {background-color: #f5f6ce;}
#rounded-corner.nohover tbody tr td.other {background-color: #fdccff; color: purple;}
#rounded-corner.nohover tbody:hover tr td.other {background-color: #fdccff;}
#rounded-corner.missionlist tbody tr {height:60px;}
font.star {font-size: 14px; color: #ffd500; text-shadow: 1px 1px 1px #000000;}
div table.heightplus tbody tr {height: 82px;}

div.border div.apocrypha
	{
		background-image:
			url('https://fate-go.cirnopedia.org/icons/map/map_apocrypha.png'),
			url('https://fate-go.cirnopedia.org/icons/map/map_apocrypha.jpg');
		background-repeat:
			no-repeat,
			no-repeat;
		background-position: 
			80% 80%, 
			80% 80%;
		background-size: 
			110% 110%, 
			110% 110%;
		width: 100%;
		height: 766px;
		padding: 0px;
		box-sizing: border-box;
	}
div.border div.coordinate a
	{
		display: block;
		width: 130px;
		height: 130px;
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		text-align: center;
		box-sizing: border-box;
		position: absolute;
		background-image: none;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
div.border div.coordinate a img.mapicon
	{
		max-width: 90px;
		max-height: 90px;
		margin: 10px 10px 7px 10px;
	}
div.border div.coordinate a img.mapicon2
	{
		max-width: 0px;
		max-height: 0px;
		margin: 0px;
	}
div.border div.coordinate a:hover img.mapicon
	{
		max-width: 100px;
		max-height: 100px;
		margin: 4px 0px 3px 0px;
	}
div.border div.coordinate a.gate:hover img.mapicon
	{
		max-width: 0px;
		max-height: 0px;
		margin: 0px;
	}
div.border div.coordinate a.gate:hover img.mapicon2
	{
		max-width: 110px;
		max-height: 110px;
		margin: 4px 0px 3px 0px;
	}
div.border div.coordinate a img.gate
	{
		max-width: 100px;
		max-height: 100px;
		margin: 10px 10px 7px 10px;
	}
div.border div.coordinate a img.gate:hover
	{
		max-width: 110px;
		max-height: 110px;
		margin: 4px 0px 3px 0px;
	}
div.border div.coordinate a div
	{
		font-size: 11px; white-space: nowrap;
		padding: 5px 10px;
		margin-top: -10px;
		background-image: url('https://fate-go.cirnopedia.org/icons/map/coordinate.png');
		background-position: center center; 
		background-repeat: no-repeat;
		background-size: 85% 100%;
		font-family: 'robotoregular','맑은 고딕',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
	}
	
div.raid_01 {display: relative;}
div.raid_02, div.raid_03, div.raid_04, div.raid_05, div.raid_06, div.raid_07, div.raid_08, div.raid_09, div.raid_10, div.raid_11, div.raid_12 {display: none;}

div.raid2_01 {display: relative;}
div.raid2_02, div.raid2_03, div.raid2_04, div.raid2_05, div.raid2_06, div.raid2_07, div.raid2_08, div.raid2_09, div.raid2_10, div.raid2_11, div.raid2_12 {display: none;}

div.free_01 {display: relative;}
div.free_02, div.free_03, div.free_04, div.free_05, div.free_06, div.free_07, div.free_08, div.free_09, div.free_10, div.free_11, div.free_12 {display: none;}

div.story_01 {display: relative;}
div.story_02, div.story_03, div.story_04, div.story_05, div.story_06, div.story_07, div.story_08, div.story_09, div.story_10, div.story_11, div.story_12 {display: none;}

td.desc-right	{text-align: right; padding-right: 15px;}
#rounded-corner tbody tr.nobu td {background-color: #ffe5f0; color: red;}
#rounded-corner tbody:hover tr.nobu td {background-color: #ffe5f0;}
