.gradient {background: #397fb3;
	background: -webkit-linear-gradient(left, #139dba , #397fb3);
	background: -o-linear-gradient(right, #139dba, #397fb3);
	background: -moz-linear-gradient(right, #139dba, #397fb3);
	background: linear-gradient(to right, #139dba , #397fb3);
	padding:5px;
	border:1px solid #000;
	color:#fff;
}
div.titlename {text-align:center;
	line-height:32px;
}
div.titlename .noveltitle {font-family:'맑은 고딕';
	font-weight:900;
	font-size:3em;
}