.gradient {background: #397fb3;
	background: -webkit-linear-gradient(to bottom, #397fb3, #139dba);
	background: -o-linear-gradient(to bottom, #139dba, #397fb3);
	background: -moz-linear-gradient(to bottom, #139dba, #397fb3);
	background: linear-gradient(to bottom, #397fb3, #139dba);
	width:50%;
	margin:auto;
	border:1px solid #000;
	color:#fff;
}
span.shadow {
	text-shadow: 1px 0px #fff, 0px 1px #fff, -1px 0px #fff, 0px -1px #fff, 1px 1px #fff, 1px -1px #fff, -1px -1px #fff, -1px 1px #fff, 2px 0px black, 2px 0px black, 0px 2px black, -2px 0px black, 0px -2px black, 2px 2px black, 2px -2px black, -2px -2px black, -2px 2px black;
}
div.titlename {text-align:center;
	line-height:32px;
}
div.titlename .noveltitle {font-family:'맑은 고딕';
	font-weight:900;
	font-size:3em;
}