p.serif{text-indent:-0.5em;margin-left:1em;font-size:1em;line-height:1.4em;}
input[type="checkbox"] {display:none;}input[type="checkbox"]:checked ~ .modal,input[type="checkbox"]:checked ~ .modal-background {display: block;}.modal-background {width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);position: fixed;top: 0;left: 0;display: none;z-index: 9998;}.modal {position: fixed;top: 0;left: 0;right: 0;bottom: 0;margin: auto;display: none; width: 400px; height:500px;background-color: #fff;box-sizing: border-box;z-index: 9999;}.modal > p {padding: 15px;margin: 0;}.modal-header {background-color: #f9f9f9;border-bottom: 1px solid #dddddd;box-sizing: border-box;height: 50px;}.modal-header h3 {margin: 0;box-sizing: border-box;padding-left: 15px;line-height: 50px;color: #4d4d4d;font-size: 16px;display: inline-block;}.modal-header label {box-sizing: border-box;border-left: 1px solid #dddddd;float: right;line-height: 50px;padding: 0 15px 0 15px;cursor: pointer;}.modal-header label:hover img {opacity: 0.6;}.example-label {box-sizing: border-box;display: inline-block;padding: 10px;background-color: #3c669f;color: #ffffff;font-size: 12px;font-weight: bold;cursor: pointer;}.example-label:hover {background-color: #669f3c;color: #ffffff;}
div.chaptertitle{font-weight:900;font-size:2.3em;text-align:center;font-family:'맑은 고딕';}
a.cardtext{text-decoration:red wavy underline;font-weight:900;}a.cardtext:hover{text-decoration:blue wavy underline;font-weight:900;font-size:1.2em;}
.normalmonster{text-shadow:0px 0px 2px #e8d100;}
a[class*=monster]:link{color:#000;}
a[class*=monster]:visited{color:#000;}
a[class*=monster]:hover{color:#000;}
a[class*=monster]:active{color:#000;}
.normalmonster:hover::after{content:'(일반 몬스터)';font-size:0.8em;}
.effectmonster{text-shadow:0px 0px 2px #ff9100;}
.effectmonster:hover::after{content:'(효과 몬스터)';font-size:0.8em;}
.fusionmonster{text-shadow:0px 0px 2px #b5009a;}
.fusionmonster:hover::after{content:'(융합 몬스터)';font-size:0.8em;}
.ritualmonster{text-shadow:0px 0px 2px #0084ff;}
.ritualmonster:hover::after{content:'(의식 몬스터)';font-size:0.8em;}
.mtmagic{text-shadow: 0px 0px 2px #00a634;}
.mttrap{text-shadow: 0px 0px 2px #d10049;}
a[class*=mt]:link { color:#000; }
a[class*=mt]:visited { color:#000; }
a[class*=mt]:hover { color:#000; }
a[class*=mt]:active { color:#000; }
.synchro{text-shadow: 1px -1px 0px #000, 1px 0px 0px #000, 1px 1px 0px #000, 0px -1px 0px #000, 0px 1px 0px #000, -1px -1px 0px #000, -1px 0px 0px #000, -1px 1px 0px #000; color:#fff;}
a.synchro:link { color:#fff; }
a.synchro:visited { color:#fff; }
a.synchro:hover { color:#fff; }
a.synchro:active { color:#fff; }
.xyz{text-shadow: 1px -1px 0px #fff, 1px 0px 0px #fff, 1px 1px 0px #fff, 0px -1px 0px #fff, 0px 1px 0px #fff, -1px -1px 0px #fff, -1px 0px 0px #fff, -1px 1px 0px #fff; color:#000;}
a.xyz:link { color:#000; }
a.xyz:visited { color:#000; }
a.xyz:hover { color:#000; }
a.xyz:active { color:#000; }
.tooltip {display: inline-block; font-weight: bold;}
.tooltip-text {display: none;position: absolute;width: calc(min(300px, 80vw));border: 1px dotted white;border-radius: 5px;padding: 5px;font-size: 0.8em;color: white; background: #000;}
.tooltip:hover .tooltip-text {display: block;}
.tooltip-text img {background-color:#fff;max-width:calc(min(240px, 64vx));padding-left:calc(min(30px, 8vw));}
.dot {
   font-weight:900;
   text-emphasis-style: circle;
   text-emphasis-position: over left;
   -webkit-text-emphasis-style: circle;
   -webkit-text-emphasis-position: over;
}
