/* 스레계 css */
@import url("umathread.css");
/* 말딸, 블루아카 웹폰트 */
@font-face {font-family: 'GM';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');font-weight: normal;font-style: normal;}
/* 유희왕 팬픽용 css */
p.serif{text-indent:-0.5em;margin-left:1em;font-size:1em;line-height:1.4em;}
input[type="checkbox"] {display:none;}input[type="checkbox"]:checked ~ .modal,input[type="checkbox"]:checked ~ .modal-background {display: block;}.modal-background {width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);position: fixed;top: 0;left: 0;display: none;z-index: 9998;}.modal {position: fixed;top: 0;left: 0;right: 0;bottom: 0;margin: auto;display: none; width: 400px; height:500px;background-color: #fff;box-sizing: border-box;z-index: 9999;}.modal > p {padding: 15px;margin: 0;}.modal-header {background-color: #f9f9f9;border-bottom: 1px solid #dddddd;box-sizing: border-box;height: 50px;}.modal-header h3 {margin: 0;box-sizing: border-box;padding-left: 15px;line-height: 50px;color: #4d4d4d;font-size: 16px;display: inline-block;}.modal-header label {box-sizing: border-box;border-left: 1px solid #dddddd;float: right;line-height: 50px;padding: 0 15px 0 15px;cursor: pointer;}.modal-header label:hover img {opacity: 0.6;}.example-label {box-sizing: border-box;display: inline-block;padding: 10px;background-color: #3c669f;color: #ffffff;font-size: 12px;font-weight: bold;cursor: pointer;}.example-label:hover {background-color: #669f3c;color: #ffffff;}
div.chaptertitle{font-weight:900;font-size:2.3em;text-align:center;font-family:'맑은 고딕';}
a.cardtext{text-decoration:red wavy underline;font-weight:900;}a.cardtext:hover{text-decoration:blue wavy underline;font-weight:900;}
a.cardtext ruby rt{text-decoration:none;} a.cardtext ruby rt:hover{text-decoration:none;}
.normalmonster{text-shadow:0px 0px 2px #e8d100;}
a[class*=monster]:link{color:#000;}
a[class*=monster]:visited{color:#000;}
a[class*=monster]:hover{color:#000;}
a[class*=monster]:active{color:#000;}
.effectmonster{text-shadow:0px 0px 2px #ff9100;}
.fusionmonster{text-shadow:0px 0px 2px #b5009a;}
.ritualmonster{text-shadow:0px 0px 2px #0084ff;}
.mtmagic{text-shadow: 0px 0px 2px #00a634;}
.mttrap{text-shadow: 0px 0px 2px #d10049;}
a[class*=mt]:link { color:#000; }
a[class*=mt]:visited { color:#000; }
a[class*=mt]:hover { color:#000; }
a[class*=mt]:active { color:#000; }
.synchro{text-shadow: 1px -1px 0px #000, 1px 0px 0px #000, 1px 1px 0px #000, 0px -1px 0px #000, 0px 1px 0px #000, -1px -1px 0px #000, -1px 0px 0px #000, -1px 1px 0px #000; color:#fff;}
a.synchro:link { color:#fff; }
a.synchro:visited { color:#fff; }
a.synchro:hover { color:#fff; }
a.synchro:active { color:#fff; }
.xyz{color:#000;}
a.xyz{text-shadow: 1px -1px 0px #fff, 1px 0px 0px #fff, 1px 1px 0px #fff, 0px -1px 0px #fff, 0px 1px 0px #fff, -1px -1px 0px #fff, -1px 0px 0px #fff, -1px 1px 0px #fff;}
a.xyz:link { color:#000; }
a.xyz:visited { color:#000; }
a.xyz:hover { color:#000; }
a.xyz:active { color:#000; }
.tooltip_up {display: inline-block; font-weight: bold;}
.tooltip-text_short {display: none; position: absolute, top: 50%, left: 50%, transform: translate(-50%, -50%); max-width:min(400px, 50vw); border: 1px dotted white;border-radius: 5px;padding: 5px;margin:-20px 0px;font-size: 0.8em;color: white; background: #000;}
.tooltip-text {display: none; position: absolute, top: 50%, left: 50%, transform: translate(-50%, -50%); max-width:min(400px, 50vw); border: 1px dotted white;border-radius: 5px;padding: 5px;font-size: 0.8em;color: white; background: #000;}
.tooltip_up:hover .tooltip-text {display: block;}
.tooltip_up:hover .tooltip-text_short {display: block;}
.tooltip-text img {background-color:#fff;max-width:calc(min(240px, 64vx));margin:0 auto;display:block;}
.dot {
   font-weight:900;
   text-emphasis-style: circle;
   text-emphasis-position: over left;
   -webkit-text-emphasis-style: circle;
   -webkit-text-emphasis-position: over;
}
.textbox{cursor:pointer;
         width:min(700px, 90vw);
         height:30px;
         text-align:center;
         display:block;
         background: linear-gradient(120deg, rgba(201,223,234,.6) 0%, rgba(204,225,236,.6) 8%, rgba(217,236,243,.6) 8%, rgba(218,231,237,.6) 16%, rgba(224,237,243,.6) 16%, rgba(255,255,255,.6) 50%, rgba(224,237,243,.6) 84%, rgba(218,231,237,.6) 84%, rgba(217,236,243,.6) 92%, rgba(204,225,236,.6) 93%, rgba(201,223,234,.6) 100%), linear-gradient(60deg, rgba(204,225,236,1) 0%, rgba(217,236,243,1) 0%, rgba(218,231,237,1) 8%, rgba(224,237,243,1) 8%, rgba(255,255,255,1) 50%, rgba(224,237,243,1) 76%, rgba(218,231,237,1) 76%, rgba(217,236,243,1) 84%, rgba(204,225,236,1) 84%, rgba(201,223,234,1) 100%);
         margin:auto;
          -webkit-transform: skew(-10deg);
          -moz-transform: skew(-10deg);
          -o-transform: skew(-10deg);
         border-radius:5px;
         border:solid #fff 2px;
         box-shadow:1px 1px 1px 1px rgba(0,0,0,.5);
         font-family:'GM';
         font-size:18px;
}
.textbox .text{-webkit-transform: skew(10deg);
                -moz-transform: skew(10deg);
                -o-transform: skew(10deg);
               display:block;
               margin-top:-20px;
               color:#000;
               font-weight:900;
               top:-10px;
}
