/*
 * Shiekah Font
 */
@font-face {
  font-family: 'Shiekah';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Shiekah Font.ttf') format('truetype');
}

.upperdot { 
   color:red;
   font-weight:900;
   text-emphasis-style: circle;
   text-emphasis-position: over left;
   -webkit-text-emphasis-style: circle;
   -webkit-text-emphasis-position: over;
}

div.title{
	text-align: center;
	font-family:'Times New Roman';
	font-style: italic;
	font-weight: 900;
	font-size: xx-large;
	line-height:2em;
	margin-top:0.2em;
	margin-bottom:0.2em;
}

/* Tool Tip */

a.tooltip
	{
		outline:none;
	}
	
a.tooltip:hover 
	{
		text-decoration:none;
	} 
	
a.tooltip span 
	{
		z-index: 10;
		display: none;
		line-height: 12px;
		font-size: 12px;
		box-sizing: border-box;
		text-shadow: 2px 2px 2px black; 
	} 
	
a.tooltip:hover span div.ch1
	{ 
		width: 170px;
		height: 68px;
		font-weight: 700;
		color: #cbc4a8;
		margin-left: 120px;
		margin-top: 0px;
		font-size: 14px;
		line-height:1.2;
		z-index:1;
	}
	
a.tooltip:hover span div.ch2
	{ 
		font-weight: 400;
		color: #cbc4a8;
		margin: 20px 0px 0px 0px;
		font-size: 8px;
		line-height:1.2;
		width:280px;
		height:74px;
		z-index:2;
	}	
	
a.tooltip:hover span div.ch3
	{ 
		color: #9898ca;
		font-size: 13px;
		font-family: '맑은 고딕', 'Shiekah', sans-serif;
	}
	
a.tooltip:hover span div.ch4
	{ 
		font-size: 9px;
	}

a.tooltip:hover span
	{ 
		padding: 26px 10px 10px 10px;
		margin-top: -120px;
		margin-left: -20px;
		display: inline;
		position: absolute;
		color: #cbc4a8;
		background-color: rgba(30,30,30,1);
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-position: 0px 0px, 15px 10px, 0px 0px;
		background-size: 300px 200px, 100px 100px, 300px 200px; 
		width: 300px;
		min-height: 200px;
		text-align: left;
		z-index:0;
	}

