@font-face {
  font-family: 'Iropke Batang';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/IropkeBatangM.eot');
  src: url('../fonts/IropkeBatangM.eot?#iefix') format('embedded-opentype'),
       url('../fonts/IropkeBatangM.woff') format('woff'),
       url('../fonts/IropkeBatangM.ttf') format('truetype');
}

div.frame {
	position:relative;
	float:right;
	width:331px;
	height:649px;
	font-family:'Iropke Batang';
	background-image:url(../mobiledexcase1.png), url(../mobiledexcase2.png), url(../mobiledexcase3.png), url(../pokemon/dexbg.gif);
	background-size:331px 649px, 331px 649px, 331px 649px, 315px 610px;
	background-repeat:no-repeat, no-repeat, no-repeat, no-repeat;
	background-position:center, center, center, center;
}

.dexno {
	position:relative;
	width:210px;
	height:50px;
	margin-top:80px;
	margin-left:60px;
	margin-right:60px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	font-size:10px;
	line-height:15px;
}

div.dexno dexclass{
	font-weight:900;
	text-shadow:-1px 0 white,0 1px white,1px 0 white,0 -1px white, 1px 1px white, -1px 1px white, 1px -1px white, -1px -1px white;
}
div.dexno dexclass.NDex::before{
	content:"NDex ";
	color:#000;
}
div.dexno dexclass.KnDR::before{
	content:"R";
	color:#BA1922;
}
div.dexno dexclass.KnDG::before{
	content:"G";
	color:#485943;
}
div.dexno dexclass.KnDB::before{
	content:"B";
	color:#218CA5;
}
div.dexno dexclass.KnDY::before{
	content:"Y ";
	color:#EEDB42;
}

div.dexno dexclass.JDG::before{
	content:"G";
	color:#CBB661;
}
div.dexno dexclass.JDS::before{
	content:"S";
	color:#C6D0CF;
}
div.dexno dexclass.JDC::before{
	content:"C ";
	color:#00dddd;
}
div.dexno dexclass.JDHG::before{
	content:"HG";
	color:#E0BA26;
}
div.dexno dexclass.JDSS::before{
	content:"SS ";
	color:#C7D9E4;
}

div.dexno dexclass.HDR::before{content:"R"; color:#AE3F30;}
div.dexno dexclass.HDS::before{content:"S"; color:#5571A2;}
div.dexno dexclass.HDE::before{content:"E "; color:#3C8360;}
div.dexno dexclass.HDOR::before{
	content:"ΩR";
	color:#C12D2A;
}
div.dexno dexclass.HDAS::before{
	content:"αS ";
	color:#3A5382;
}

div.dexno dexclass.SDD::before{
	content:"D";
	color:#9398CF;
}
div.dexno dexclass.SDP::before{
	content:"P ";
	color:#D7BCD0;
}
div.dexno dexclass.SDPt::before{
	content:"Pt ";
	color:#DBD0B4;
}
div.dexno dexclass.UDB::before{
	content:"B";
	color:#23201D;
}
div.dexno dexclass.UDW::before{
	content:"W ";
	color:#D5DDD9;
}

div.dexno dexclass.UDB2::before{
	content:"B2";
	color:#1788BF;
}
div.dexno dexclass.UDW2::before{
	content:"W2 ";
	color:#E05239;
}

div.dexno dexclass.KDX::before{
	content:"X";
	color:#0D53A3;
}
div.dexno dexclass.KDY::before{
	content:"Y ";
	color:#CD203C;
}
div.dexno dexclass.GDSw::before{
	content:"Sw";
	color:#00A0E9;
}
div.dexno dexclass.GDSh::before{
 content:"Sh ";
 color: #E5005A;
}
div.dexno dexclass.GalarEx{
	content:"IA/CT ";
	color:#00c0f0;
}

.typetx {
	position:relative;
	width:201px;
	height:70px;
	margin-top:-10px;
	margin-left: 65px;
	margin-right: 65px;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: auto;
	font-weight:900;
	text-shadow:-1px 0 white,0 1px white,1px 0 white,0 -1px white, 1px 1px white, -1px 1px white, 1px -1px white, -1px -1px white;
	color:#222;
	text-align:center;
}
div.typetx ptype{
	font-weight:900;
}

ptype.노말::before{content:url(../pokemon/type/16px-Normal_icon_SwSh.png);}
ptype.노말::after{content:attr(class) "타입";color: #a8a878;}
ptype.불꽃::before{content:url(../pokemon/type/16px-Fire_icon_SwSh.png);}
ptype.불꽃::after{content:attr(class) "타입";color: #f08030;}
ptype.물::before{content:url(../pokemon/type/16px-Water_icon_SwSh.png);}
ptype.물::after{content:attr(class) "타입";color: #6890f0;}
ptype.풀::before{content:url(../pokemon/type/16px-Grass_icon_SwSh.png);}
ptype.풀::after{content:attr(class) "타입";color: #78c850;}
ptype.전기::before{content:url(../pokemon/type/16px-Electric_icon_SwSh.png);}
ptype.전기::after{content:attr(class) "타입";color: #f8d030;}
ptype.얼음::before{content:url(../pokemon/type/16px-Ice_icon_SwSh.png);}
ptype.얼음::after{content:attr(class) "타입";color: #98d8d8;}
ptype.격투::before{content:url(../pokemon/type/16px-Fighting_icon_SwSh.png);"격투";color: #c03028;}
ptype.격투::after{content:attr(class) "타입";color: #c03028;}
ptype.독::before{content:url(../pokemon/type/16px-Poison_icon_SwSh.png);}
ptype.독::after{content:attr(class) "타입";color: #a040a0;}
ptype.땅::before{content:url(../pokemon/type/16px-Ground_icon_SwSh.png);}
ptype.땅::after{content:attr(class) "타입";color: #e0c068;}
ptype.비행::before{content:url(../pokemon/type/16px-Flying_icon_SwSh.png);}
ptype.비행::after{content:attr(class) "타입";color: #a890f0;}
ptype.에스퍼::before{content:url(../pokemon/type/16px-Psychic_icon_SwSh.png);}
ptype.에스퍼::after{content:attr(class) "타입";color: #f85888;}
ptype.벌레::before{content:url(../pokemon/type/16px-Bug_icon_SwSh.png);}
ptype.벌레::after{content:attr(class) "타입";color: #a8b820;}
ptype.바위::before{content:url(../pokemon/type/16px-Rock_icon_SwSh.png);}
ptype.바위::after{content:attr(class) "타입";color: #b8a038;}
ptype.고스트::before{content:url(../pokemon/type/16px-Ghost_icon_SwSh.png);}
ptype.고스트::after{content:attr(class) "타입";color: #705898;}
ptype.드래곤::before{content:url(../pokemon/type/16px-Dragon_icon_SwSh.png);}
ptype.드래곤::after{content:attr(class) "타입";color: #7038f8;}
ptype.악::before{content:url(../pokemon/type/16px-Dark_icon_SwSh.png);}
ptype.악::after{content:attr(class) "타입";color: #705848;}
ptype.강철::before{content:url(../pokemon/type/16px-Steel_icon_SwSh.png);}
ptype.강철::after{content:attr(class) "타입";color: #b8d8d0;}
ptype.페어리::before{content:url(../pokemon/type/16px-Fairy_icon_SwSh.png);}
ptype.페어리::after{content:attr(class) "타입";color: #ee99ac;}
.image{
	position:relative;
	width:331px;
	height:200px;
	padding:auto;
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	vertical-align:bottom;
}
.imageframe{
	position:relative;
	width:321px;
	margin-left:5px;
	margin-right:5px;
	height:200px;
	text-align:center;
	vertical-align:bottom;
}
.imageframe div.origin{
	position:absolute;
	box-sizing:inherit;
	width:48%;
	heigth:200px;
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	vertical-align:bottom;
}
.imageframe div.alternativeform{
	position: absolute;
        left: 50%;
	box-sizing:inherit;
	width:48%;
	heigth:200px;
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	vertical-align:bottom;
}
.text{
	position:relative;
	width:304px;
	max-height:110px;
	padding: 5px 5px 5px 7px;
	margin:7px 10px 7px 10px;
	text-align:left;
	text-shadow:-1px 0 white,0 1px white,1px 0 white,0 -1px white, 1px 1px white, -1px 1px white, 1px -1px white, -1px -1px white;
	font-weight:400;
	color:#222;
	font-size:12px;
	background-color:rgba(127,127,127,50);
}
