div.attention{
	text-align: center;
	font-weight:900;
	font-size:2em;
	font-family:'맑은 고딕';
	line-heigth:3em;
}
div.title{
	font-size:2em;
	font-weight:900;
	text-align:center;
	font-family:'맑은 고딕';
}
div.title::before{
	content: "";
	display: block;
	width: 100%;
	border-bottom: 1px solid #bcbcbc;
	margin:20px 0px;
}
div.title::after{
	content: "";
	display: block;
	width: 100%;
	border-bottom: 1px solid #bcbcbc;
	margin:20px 0px;
}
threadcounter{
	  padding-left:20px;
	  padding:1em;
	  width: 100%;
	  max-width: 700px;
	  margin: 0 auto;
}
p{
	counter-increment: cnt;
	font-size:1.3em;
	font-weight:400;
	font-family:'맑은 고딕';
	text-indent: -1em;
	margin-left: 1em;
}
p::first-line {
	font-size:1.5em;
	font-weight:900;
	color:#666666;
}
p::before {
	content: '\A' counter(cnt) '. ';
	font-size:1.5em;
	font-weight:900;
	color:#666666;
	white-space: pre;
}
p.named{
	counter-increment: cnt;
	font-size:1.3em;
	font-weight:400;
	font-family:'맑은 고딕';
}
p.named::first-line {
	font-size:1.5em;
	font-weight:900;
	text-shadow: rgb(0, 255, 0) 0px 0px 3px;
	color: #006600;
}
p.named::before{
	content: '\A' counter(cnt) '. ';
	font-size:1.5em;
	font-weight:900;
	text-shadow: rgb(0, 255, 0) 0px 0px 3px;
	color: #006600;
	white-space: pre;
}
p rdt {
	text-shadow: rgb(255, 0, 0) 0px 0px 3px;
	color: #ffffff;
	font-weight:900;
}
p rdt::before {
	text-shadow: rgb(255, 0, 0) 0px 0px 3px;
	color: #ffffff;
	content:">>";
	font-weight:900;
}
p rdt::after {
	content:" ";
}
